@{
	ViewData["Title"] = "Vehicle Selector";
}

<h1>Vehicle Selector</h1>

<div class="form-group">
	<label for="makes">Select Car Make:</label>
	<select id="makes" class="form-control"></select>
</div>

<div class="form-group">
	<label for="year">Enter Manufacture Year:</label>
	<input type="number" id="year" class="form-control" min="1900" max="2024" />
</div>

<div class="form-group">
	<label for="vehicleTypes">Select Vehicle Type:</label>
	<select id="vehicleTypes" class="form-control"></select>
</div>

<div class="form-group">
	<label for="models">Available Models:</label>
	<select id="models" class="form-control" multiple></select>
</div>


@section Scripts{
	<script>
		$(document).ready(function() {
			// Initialize Select2
			$('#makes, #vehicleTypes, #models').select2();

			// Load Makes
			$.ajax({
				url: '/Home/GetMakes',
				method: 'GET',
				success: function(data) {
					let makes = data.Results;
					makes.forEach(make => {
						$('#makes').append(new Option(make.Make_Name, make.Make_ID));
					});
				}
			});

			// Load Vehicle Types based on Make
			$('#makes').on('change', function() {
				let makeId = $(this).val();
				$('#vehicleTypes').empty();
				$.ajax({
					url: `/Home/GetVehicleTypes?makeId=${makeId}`,
					method: 'GET',
					success: function(data) {
						let types = data.Results;
						types.forEach(type => {
							$('#vehicleTypes').append(new Option(type.VehicleTypeName, type.VehicleTypeId));
						});
					}
				});
			});

			$("#year").on("blur", function() {
				debugger;
				// Load Models based on Make, Year
				let makeId = $('#makes').val();
				let year = $('#year').val();

				$('#models').empty();

				if (makeId && year) {
					$.ajax({
						url: `/Home/GetModels?makeId=${makeId}&year=${year}`,
						method: 'GET',
						success: function(data) {
							let models = data.Results;
							models.forEach(model => {
								$('#models').append(new Option(model.Model_Name, model.Model_Name));
							});
						}
					});
				}
				//});
			});

		});
	</script>
}